@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-md border-b-2 border-transparent border-b-primary-500 p-2 px-4 text-sm shadow-none outline-none hover:border-primary-600 focus:border-primary-600 active:border-primary-600;
    box-shadow: none !important;
  }
  .input::placeholder {
    @apply text-primary-400;
  }
  .no-outline {
    @apply border-transparent shadow-none outline-none focus:border-transparent focus:shadow-none focus:outline-none active:border-transparent active:shadow-none active:outline-none;
    box-shadow: none !important;
  }
}

.audio-react-recorder {
  display: none;
}

@layer base {
  /* firefox */
  * {
    scrollbar-color: #3f3f46 transparent;
    scrollbar-width: thin;
  }

  /* other browsers */
  *::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary.500');
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 16px;
  }

  svg {
    display: inline-block;
    vertical-align: top;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
  }
}


body > div > div:nth-of-type(2) {
  overflow: auto;
}